
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
	background-color: white;
}

.text {
    color: #ffffff;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 17px;
}

.text-col {
    color: #ffffff;
    font-size: 17px;
}

.jumbotron-fluid {
	padding-top: 6px;
	background-color: white;
}

.container {
	background-color: white;
}

.main-row {
	box-shadow: 0 4px 3px -2px #888888;
}

.image {
	width: 100%; 
}

#resume {
    width: 75%;
    margin: auto;
}
/*
.padding-0{
	height: 258px;
    padding-right:0;
    padding-left:0;
    color: white;
    text-align: center;
}
*/
.padding-0:hover{
	-ms-transform: scale(1.3,1.3); /* IE 9 */
    -webkit-transform: scale(1.3,1.3); /* Safari */
    transform: scale(1.3,1.3); /* Standard syntax */
}

#container-1{
	background-color: #620637;
}

#container-3{
	background-color: #B890A0;
}

#container-4{
	background-color: #A67289;
}

#portfolio {
	padding-top: 0%;
	width: 100%;
	height: 258px;
}

a {
	display:inline-block;
    color: #ffffff;
}

h5 {
    color: #ffffff;
    font-family: 'Bitter', serif;
    text-align: center;
}

.form-group {
    padding-left: 10vw;
    padding-right: 10vw;
}

.lang-icon {
    height: 80px;
}

#holder {
    padding-left: 10vw;
    padding-right: 10vw;
}

#break {
    height: 12px;
}

.sociallinks {
    height: 25px;
}

/* Modal Content */
.modal-content {
    background-color: rgba(98,6,55,0.95);
    height: 100%;
    width: 100vw;
    border-radius: 0px;
    overflow: auto !important; 
}

.modal-content2 {
	background-color: rgba(166,114,137,0.95);
    height: 100%;
    width: 100vw;
    border-radius: 0px;
    overflow: auto !important;
}

.modal-title {
    color: #ffffff;
    opacity: 1;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}

h2 {
	color: #ffffff;
    opacity: 1;
	font-family: 'Londrina Outline', cursive;
    font-weight: bold;
    text-align: center;
}

h6 {
    color: #ffffff;
    font-family: 'Bitter', serif;
    padding-left: 7vw;
    padding-right: 10vw;
}

.modal-sub {
	color: #ffffff;
	font-family: 'Oswald', sans-serif;
    padding-left: 10vw;
}

.modal-sub-col {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}

ul {
    color: #ffffff;
}

#submitbttn {
	background-color: #620637;
	border: none;
	border-color: #620637;
}

input[type=submit] {
    color: white;
	font-weight: normal;
	font-family: 'Open Sans Condensed', sans-serif;
}

/* The Close Button */
.close {
    color: #ffffff;
    float: left;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 2vw;
    padding-top: 2vh;
    
}

.close:hover {
	color: #620637;
    text-decoration: none;
    cursor: pointer;
}

.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

label {
	color: #ffffff;
}

.footer {
	text-align: center;
	color: #915174;
	font-size: 10px;
}


