body {
	background-color: #EFE9E3;
}

.container {
	background-color: #EFE9E3;
}

.image {
	width: 100%; 
}

.padding-0{
    padding-right:0;
    padding-left:0;
    color: white;
    text-align: center;
}

.padding-0:hover{
	-ms-transform: scale(1.3,1.3); /* IE 9 */
    -webkit-transform: scale(1.3,1.3); /* Safari */
    transform: scale(1.3,1.3); /* Standard syntax */
}

#container-1{
	background-color: #620637;
}

#container-3{
	height: 230px;
	background-color: #B890A0;
}

#container-4{
	background-color: #A67289;
}

p {
	font-size: 20px;
	vertical-align: center;
	line-height: 213px;
	font-family: 'Ubuntu', sans-serif;
}

#portfolio {
	width: 100%;
	height: 230px;
}