/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
	background-color: #EFE9E3;
}

.jumbotron-fluid {
	padding-top: 6px;
	background-color: #EFE9E3;
}

.container {
	background-color: #EFE9E3;
}

.row {
	box-shadow: 0 4px 3px -2px #888888;
}

.image {
	width: 100%; 
}



.padding-0{
	height: 258px;
    padding-right:0;
    padding-left:0;
    color: white;
    text-align: center;
}

.padding-0:hover{
	-ms-transform: scale(1.3,1.3); /* IE 9 */
    -webkit-transform: scale(1.3,1.3); /* Safari */
    transform: scale(1.3,1.3); /* Standard syntax */
}

#container-1{
	background-color: #620637;
}

#container-3{
	background-color: #B890A0;
}

#container-4{
	background-color: #A67289;
}

#portfolio {
	padding-top: 0%;
	width: 100%;
	height: 258px;
}

a {
	display:inline-block;
}

/*Modal css*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 10vh;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 5px solid #620637;
    border-radius: 0px;
    width: 55%;
}

.modal-content2 {
	background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 5px solid #620637;
    border-radius: 0px;
    width: 38%;
}

.modal-title,
h2 {
	color: #620637;
	font-family: 'Open Sans Condensed', sans-serif;
}

.modal-sub,
h4 {
	color: #915174;
	font-family: 'Open Sans Condensed', sans-serif;
}

#submitbttn {
	background-color: #620637;
	border: none;
	border-color: #620637;
}

input[type=submit] {
    color: white;
	font-weight: normal;
	font-family: 'Open Sans Condensed', sans-serif;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 1px;
}

.close:hover {
	color: #620637;
    text-decoration: none;
    cursor: pointer;
}

.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

label {
	color: #915174;
}

.footer {
	text-align: center;
	color: #915174;
	font-size: 10px;
}

/*Typewriter Animation*/
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


.line-1{
    position: relative;
    top: 50%;  
    width: 14em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 160%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
    font-family: 'Anonymous Pro', monospace;     
}

/* Animation */
.anim-typewriter{
  animation: typewriter 3s steps(30) 1s 1 normal both,
             blinkTextCursor 500ms steps(30) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 14em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #620637;}
  to{border-right-color: transparent;}
}


